@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Roboto:wght@300&display=swap');


body {
    background-color: #999;
    font-family: "Barlow Condensed", Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    margin: 0; 
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: auto;
}

header {
    align-items: center;
    background-color: #efe14a;
    
}

#logo-link {
    padding-top: 5px;

}

.logo {
    
    width: 80px;
}

#hero-img {
    width: 100%;

}

nav a {
    text-align: center;
    color: #150641;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #150641;
    color:#fff;

}

main section {
    text-align: center;
    

}

main section img {
    box-sizing: border-box;

}

h2 {
    margin: 0;

}

.home-title {
    font-family: "Barlow Condensed", Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    text-align: center;
    color: #150641;
    margin-top: 10px;
}

h4{
    text-align: center;
    color:#150641;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;

}


.book, .join {
    background-color:#70cfde ;
    color: #150641;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 50px;

}

.card-img {
    border: 10px solid #150641
}

.book:hover, .join:hover {
    background-color:#efe14a ;
    color: #150641;
}

.button-box {
    text-align: center;
    
}

.icon {
    width: 80px;
   padding-top: 10px;
}

#background {
    background-color: #efe14a;
    height: 725px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    margin-top: 100px;
    
}

.msg {
    background-color:#efe14a;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
    margin-bottom: 200px;

}

.msg h2 {
    font-family: "Barlow Condensed", Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #150641;
}

.msg p {
    color: #150641;
    font-size: .8em;
    padding-bottom: 15px;

}

footer {
    font-family: "Barlow Condensed", Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #70cfde;
    padding:25px 50px;
    margin-top: 200px;
    margin-bottom: 100px;

}

footer h3 {
    text-decoration: none;
    color:#150641
}

footer .social img {
    padding-top: 15px;

}

footer a {
    text-decoration: none;
    color:#150641
    
}

footer a:hover {
    background-color: #150641;
    text-decoration: none;
    color:#efe14a

}











